@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@font-face {
    font-family: '_decterm.ttf';
    src: url('fontes/_decterm.ttf') format('truetype');
  }
*{
    margin: 0px;
    font-family: '_decterm.ttf', sans-serif;
}
body{
    color: rgb(0, 189, 0);
    background-color: black;
    text-align: center;
}
header{
    height: 80px;
    font-size: 50px;
    background-color: rgb(56, 56, 56);
}
header>p{
    margin-top: 12px;
    display: inline-block;
}
#info{
    background-color: rgb(56, 54, 54);
    padding: 10px;
}
main{
    margin: auto;
    margin-bottom: 100px;
    width: 1000px;
}
main>p{
    font-size: 23px;
    width: 400px;
    margin: auto;
    margin-top: 15px;
}
.imagem{
    margin: 10px;
    display: inline-block;
}
.imagem>p{
    background-color: black;
    font-size: 18px;
    justify-content: left;
}
.imagem>img, a>img{
    height: 200px;
    width: 250px;
    border-radius: 2.6px;
    overflow: hidden;
}
.imagem:hover{
    -moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: all 0.3s;
    position:relative;
}
/*css para o glitch 2*/
.glitch2{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .glitch2:before,
  .glitch2:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .glitch2:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .glitch2:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }
/*css para o span "aleatorio"*/
#esondido{
    visibility: hidden;
    position: relative;
    animation-name:bungas;
    animation-duration: 7s;
}
#esondido:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "XX";
}
/*css para a data*/
.data{
    display: inline-block;
}

/*css para o terminal*/
.terminal{
    border: solid white 5px;
    padding-bottom: 20px;
}
#barra{
    width: 1010px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: right;
}
#barra>p{
    color: black;
    font-size: 26px;
    font-weight: 600;
    margin-right: 10px;
    display: inline-block;
}

/*css para o efeito de piscar classe: blink*/
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.blink{
    animation: animate 
        1s linear infinite;
}

/*css para o efeito de glitch*/
.glitch {
    position: relative;
    color: rgb(255, 0, 0);
}
.line:not(:first-child) {
    position: absolute;
}
.line:nth-child(1) {
    animation: clip 3000ms -300ms linear infinite, glitch1 500ms -1000ms linear infinite;
}
@keyframes glitch1 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-1px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-4px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(2) {
    animation: clip 3000ms -600ms linear infinite, glitch2 500ms -323ms linear infinite;
}
@keyframes glitch2 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(-3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-2px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-4px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(3) {
    animation: clip 3000ms -900ms linear infinite, glitch3 500ms -58ms linear infinite;
}
@keyframes glitch3 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(4px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(1px);
        color: #ac1212;
   }
    95% {
        transform: translateX(2px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(4) {
    animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -144ms linear infinite;
}
@keyframes glitch4 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(-1px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-1px);
        color: #ac1212;
   }
    95% {
        transform: translateX(0px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(5) {
    animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -521ms linear infinite;
}
@keyframes glitch5 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(2px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-1px);
        color: #ac1212;
   }
    95% {
        transform: translateX(4px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(6) {
    animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -631ms linear infinite;
}
@keyframes glitch6 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(-1px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(3px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-4px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(7) {
    animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -866ms linear infinite;
}
@keyframes glitch7 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(0px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-2px);
        color: #ac1212;
   }
    95% {
        transform: translateX(-4px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(8) {
    animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -563ms linear infinite;
}
@keyframes glitch8 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(-4px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(-4px);
        color: #ac1212;
   }
    95% {
        transform: translateX(5px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(9) {
    animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -589ms linear infinite;
}
@keyframes glitch9 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(3px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(3px);
        color: #ac1212;
   }
    95% {
        transform: translateX(4px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
.line:nth-child(10) {
    animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -139ms linear infinite;
}
@keyframes glitch10 {
    0% {
        transform: translateX(0);
   }
    80% {
        transform: translateX(0);
        color: #fff;
   }
    85% {
        transform: translateX(-2px);
        color: #4e9a26;
   }
    90% {
        transform: translateX(4px);
        color: #ac1212;
   }
    95% {
        transform: translateX(4px);
        color: #fff;
   }
    100% {
        transform: translateX(0);
   }
}
@keyframes clip {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
   }
    100% {
        clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
   }
}